* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.head {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 10px ;
    box-shadow: 2px 2px gray;
    margin-bottom: 2rem;
}
.links{
    position: relative;
    padding-top: 10px;
}
.links a {
    padding: 8px;
    font-weight: bold;
    font-size: large;
}
.hamburger{
    position: relative;
    width: 30px;
    height: 4px;
    margin-top: 15px;
    background-color: #000000;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
    z-index: 3;
}
.hamburger::before, .hamburger::after{
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background-color: #000000;
    border-radius: 10px;
    transition: 0.3s;
    z-index: 1;
}
.hamburger::before{
    top: -10px;
    width: 20px;
}
.hamburger::after{
    top: 10px;
    width: 25px;
}
.links input:checked ~ .hamburger::before{
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}
.links input:checked ~ .hamburger::after{
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}
.links input:checked ~ .hamburger{
    background-color: transparent;
}
.links input:checked ~ .menu{
    right: 0;
}
#toggle-menu{
    position: absolute;
    width: 30px;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    /* padding: 10px; */
    opacity: 0;
}
.hamburger, #toggle-menu{
    display: none;
}
.links a:hover {
    border-bottom: 5px solid green;
}

main {
    padding: 0 20px 0 20px;
}

#home,
#about,
#skills,
.works {
    display: flex;
}

#home img,
#about img,
#skills img {
    border-radius: 20px;
}

#about .comment{
    padding: 10px;
}
.img, .comment {
    width: 50%;
}

.img img {
    width: 100%;
}

.comment h2 {
    text-align: center;
}

.skills h3 {
    margin: 2rem;
    text-align: center;
}

.comment span {
    padding-left: 10px;
}

.skills p {
    font-size: 15px;
    font-weight: 700;
    padding: 20px;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 5px gray;
}

.works {
    gap: 2rem;
    flex: 1;
}

.works div img {
    width: 100%;
    height: 200px;
}

.tcss {
    display: inline;
    width: 15px;
    height: 15px;
}

#projects {
    margin-bottom: 5rem;
}

footer {
    background-color: #0D1730;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .links {
    display: flex;
    padding: 1rem;
}

footer .links i {
    color: #ffffff;
}

@media(max-width: 525px) {  
.hamburger, #toggle-menu, .works{
    display: block;
}
.head h1{
    display: none;
}
/* .menu{
    position: fixed;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-top: 30px;
    top: 0;
    background-color: #fbc02d;
    right: -300px;
    width: 300px;
    height: 200px;
} */
.menu a{
    color: #000000;
}

    #home,
    #about,
    #skills {
        display: block;
    }
    .img, .comment {
        width: 90%;
        margin: auto;
    }
    #about{
        display: flex;
        flex-direction: column-reverse;
    }
}