*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    padding: 20px;
}
.head{
    display: flex;
    justify-content: space-between;
}
#home, #about, #skills{
    display: flex;
}
.img{
    width: 50%;
}
.img img{
    width: 100%;
}
.comment{
    width: 50%;
}
.works{
    flex: 1;
}
.tcss{
    display: inline;
    width: 15px;
    height: 15px;
}