* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    /* padding: 20px; */
}

.head {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 2px 2px gray;
    margin-bottom: 2rem;
}

.links a {
    padding: 8px;
    font-weight: bold;
    font-size: large;
}

.links a:hover {
    border-bottom: 5px solid green;
}

main {
    padding: 0 20px 0 20px;
}

#home,
#about,
#skills,
.works {
    display: flex;
}

#home img,
#about img,
#skills img {
    border-radius: 20px;
}

#about .comment{
    padding: 10px;
}
.img, .comment {
    width: 50%;
}

.img img {
    width: 100%;
}

.comment h2 {
    text-align: center;
}

.skills h3 {
    margin: 2rem;
    text-align: center;
}

.comment span {
    padding-left: 10px;
}

.skills p {
    font-size: 15px;
    font-weight: 700;
    padding: 20px;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 5px gray;
}

.works {
    gap: 2rem;
}

.works div {
    width: 25%;
    flex: 1;
}

.works div img {
    width: 100%;
}

.tcss {
    display: inline;
    width: 15px;
    height: 15px;
}

#projects {
    margin-bottom: 5rem;
}

footer {
    background-color: #0D1730;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .links {
    display: flex;
    padding: 2rem;
}

footer .links i {
    color: #ffffff;
}

@media(max-width: 525px) {

    #home,
    #about,
    #skills {
        display: block;
    }
    .img, .comment {
        width: 90%;
        margin: auto;
    }
    #about{
        display: flex;
        flex-direction: column-reverse;
    }
}